# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Intellij files
.idea/
*.iml
*.ipr

# Maven
target/

# Gradle
.gradle/
build/
out/

# Terraform private configs
terraform.tfvars

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb
